 body {
  overflow: hidden;
}

.circleHint {
  border-radius: 50%;
  /* background: radial-gradient(white, #81C784 25%, #81C784 100%); */
  /* border: 30px solid blue; */
  transform: translate(-50%, -50%);
  transition: width .2s ease-in, height .2s ease-in;
  text-align: left;
}

.circleBox{
  height: 48px;
  width: 48px;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
}

.featureText{
  font-family: sans-serif;
  font-weight: bold;
  max-width: 50px;
  line-height: 0;
  position: relative;
  top: 25%;
  left: 10%;
  transition: font-size .2s ease-out .1s;
  color: white;
}